html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
}



#centercontent{
width: 700px;
}

.container{
	width:800px;
	padding: 0 20px;
}

    table tr td:first-child{
    padding : 10px 20px 10px 0px;
}

#tools{
	width:860px;
	padding:20px;
	
	border: 1px dashed #ccc; 
}

#tools button{
	padding-left:20px;
	border:solid 1px #000;
}

nav{
	height:53px;
background: rgb(9,78,153); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5NGU5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDY0OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(9,78,153,1) 0%, rgba(48,100,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(9,78,153,1)), color-stop(100%,rgba(48,100,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(9,78,153,1) 0%,rgba(48,100,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(9,78,153,1) 0%,rgba(48,100,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(9,78,153,1) 0%,rgba(48,100,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(9,78,153,1) 0%,rgba(48,100,153,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094e99', endColorstr='#306499',GradientType=0 ); /* IE6-8 */
border-bottom:solid 1px rgb(0,0,0);
}

#innernav{
	width:960px;
	color:#fff;
}

#leftnav{
	width:160px;
}

.tasks {
			width: 10em;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		.task {
			margin: 2px;
			padding: 6px;
			border: 1px solid #ccc;
		}
		
		.tasks .selected {
			border-color: #000;
		}
		
		.task:hover {
			border-color: #99f;
		}