<div class="${baseClass}">
    <div id="${id}BorderContainer" style="width: 100%; height: 100%; margin:0; padding:0" data-dojo-props="gutters:false, liveSplitters:false" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}Titlebar" class="hpccTitlebar" data-dojo-props="region: 'top'" data-dojo-type="dijit.layout.ContentPane">
            <div class="left">
                <div id="${id}StackController" data-dojo-props="containerId:'${id}TabContainer'" data-dojo-type="dijit.layout.StackController"></div>
            </div>
            <div id="userTools">
                <form id="search-form">
                    <div class="search">
                        <input type="text" name="search" class="roundForm" />
                        <input type="image" class="corner" value="" src="img/search_icon.png" />
                    </div>
                </form>
                <div id="userAccount">
                    <span class="navBarLoggedin">logged in as: </span><a id="${id}UserID" href="#"></a>
                </div>
                <div id="userIcons">
                    <div class="seperator grey"></div>
                    <a id="hoverIcon" href="#">
                        <div class="holder">
                            <div data-dojo-type="dijit.form.DropDownButton">
                                <span>
                                    <img src="img/More.png" alt="User" />
                                </span>
                                <div data-dojo-type="dijit.Menu">
                                    <div id="${id}Legacy" data-dojo-attach-event="onClick:_onOpenLegacy" data-dojo-type="dijit.MenuItem">Open Legacy ECL Watch</div>
                                    <span data-dojo-type="dijit.MenuSeparator"></span>
                                    <div id="${id}About" data-dojo-attach-event="onClick:_onAbout" data-dojo-type="dijit.MenuItem">About</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="seperator black"></div>
                </div>
            </div>
        </div>
        <div id="${id}TabContainer" style="width: 100%; height: 100%"  data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.StackContainer">
            <div id="${id}_Activity" data-dojo-props="iconClass: 'iconLogo'" data-dojo-type="HPCCPlatformMainWidget">
            </div>
            <div id="${id}_ECL" data-dojo-props="iconClass: 'iconWu'" data-dojo-type="HPCCPlatformECLWidget">
            </div>
            <div id="${id}_Files" data-dojo-props="iconClass: 'iconLandingZone'" data-dojo-type="HPCCPlatformFilesWidget">
            </div>
            <div id="${id}_Queries" data-dojo-props="iconClass: 'iconTargets'" data-dojo-type="HPCCPlatformRoxieWidget">
            </div>
            <div id="${id}_OPS" class="greyedOut" data-dojo-props="iconClass: 'iconOperations'" data-dojo-type="HPCCPlatformOpsWidget">
            </div>
        </div>
    </div>
</div>
