<div class="${baseClass}">
	<div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
		<div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
			<div id="${id}_Queries" style="width: 100%; height: 100%" data-dojo-props='title:"Queries", iconClass:"iconCluster"' data-dojo-type="dijit.layout.BorderContainer">
				<div id="${id}QueryToolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
					<div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"iconRefresh"'>Refresh</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
					<div id="${id}Open" data-dojo-attach-event="onClick:_onOpen" data-dojo-type="dijit.form.Button">Open</div>
					<div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
					<div id="${id}unSuspend" data-dojo-attach-event="onClick:_onUnsuspend" data-dojo-type="dijit.form.Button">Unsuspend</div>
					<div id="${id}onSuspend" data-dojo-attach-event="onClick:_onSuspend" data-dojo-type="dijit.form.Button">Suspend</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
					<div id="${id}Activate" data-dojo-attach-event="onClick:_onActivate" data-dojo-type="dijit.form.Button">Activate</div>
					<div id="${id}Deactivate" data-dojo-attach-event="onClick:_onDeactivate" data-dojo-type="dijit.form.Button">Deactivate</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Filter" data-dojo-type="FilterDropDownWidget">
                       <input id="${id}Wuid" title="WUID:" name="Wuid" colspan="2" style="width:100%" data-dojo-props="trim: true, placeHolder:'W20130222-171723'" data-dojo-type="dijit.form.TextBox" />
                       <input id="${id}ClusterTargetSelect" title="Cluster:" name="QuerySetName" colspan="2" data-dojo-props="trim: true, placeHolder:'r?x*'" data-dojo-type="TargetSelectWidget" />
                       <input id="${id}Active" title="Active:" name="Active" colspan="2" data-dojo-props="trim: true, placeHolder:'jsmi*'" data-dojo-type="dijit.form.CheckBox" />
                       <input id="${id}Suspended" title="Suspended:" name="Suspended" colspan="2" data-dojo-props="trim: true, placeHolder:'jsmi*'" data-dojo-type="dijit.form.CheckBox" />
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">Open in New Page</div>
				</div>
				<div id="${id}GridCP" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
					<div id="${id}QuerySetGrid"></div>
				</div>
			</div>
		</div>
	</div><!--end of border container-->
</div>