<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}Source" class="centerPanel" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
           <!--<div id="${id}WUQueryResponse">
            ...
            </div>-->
<h1>Workunit Details</h1>
            <!--TODO ADD THE METHODS TO DO SUCH THINGS AND A CONFIRMATION BOX-->
              <div id="mainMenu" data-dojo-type="dijit/MenuBar">
            <div id="edit" 
                    data-dojo-type="dijit/MenuBarItem" title="Abort workunit" this.wu.Abort();>
                Abort
            </div>
            <div id="delete"
                    data-dojo-type="dijit/MenuBarItem" title="Delete workunit" onClick="this.wu.Delete();">
                Delete
            </div>
            <div id="resubmit"
                    data-dojo-type="dijit/MenuBarItem" title="Resubmit workunit" onClick="this.wu.Resubmit();">
                Resubmit
            </div>
            <div id="restart"
                    data-dojo-type="dijit/MenuBarItem" title="Clean and rerun the workunit" onClick="this.wu.Restart();">
                Restart
            </div>
            <div id="clone"
                    data-dojo-type="dijit/MenuBarItem" title="Submit as new workunit">
                Clone
            </div>
            
        </div> 
        <table>                
                <tr>
                    <td><h2>WUID</h2></td>
                    <td><span id="showWuid"></span></td>
                </tr>
                <tr>
                    <td><span class="bold">Action:</span></td>
                    <td id="showAction"></td>
                </tr>
                <tr>
                    <td><span class="bold">State:</span></td>
                    <td id="showState">
                    <!--<select data-dojo-type="dijit/form/ComboBox" id="state" name="state"><option selected>Completed</option>
                    <option>Failed</option>
                    </select>-->
                    </td>
                </tr>
                <tr><td><span class="bold">Owner:</span></td>
                    <td id="showOwner"></td>
                </tr>
                <tr>
                    <td><span class="bold">Scope:</span></td>
                    <td><input type="text" value="" placeHolder="showScope" style="width:300px" id="showScope"
                        data-dojo-type="dijit/form/TextBox"
                        data-dojo-props="trim:true, propercase:true"/>
                    </td>                                    
                </tr>
                <tr>
                    <td><span class="bold">Job Name:</span></td>
                    <td><input id="showJobName" style="width:300px"data-dojo-type="dijit/form/TextBox" placeholder="showJobName"
                        data-dojo-props="trim:true, propercase:true"></td>
                    
                    <td>
                        <button data-dojo-type="dijit/form/Button" title="Publish" type="button">Publish
                        </button>
                    </td>                
                </tr>
                <tr>
                    <!--Not valid HTML5 will change--><td valign="top"><span class="bold">Description:</span></td>
                    <td><textarea id="showDescription"></textarea></td>
                </tr>
                <tr>
                    <td><span class="bold">Protected:</span></td>
                    <td>
                        <form id="myform">
                            <input type="radio" name="protected" id="protected" checked value="protected"/> <label for="protected">Protected</label>
                            <input type="radio" data-dojo-type="dijit/form/RadioButton" name="unprotected" id="unprotected" value="unprotected"/>
                            <label for="unprotected">Unprotected</label>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td><span class="bold">Cluster:</span></td>
                    <td id="showCluster"></td>               
                </tr>
                <tr>
                <td><label for="reset"><button data-dojo-type="dijit/form/Button" type="button">Reset</button>
            <label for="save"><button data-dojo-type="dijit.form.Button" type="button">Save</button></td>
                </tr>
            </table> 
            <div id="${id}WUInfoResponse"></div>

        </div>
    </div>
</div>
